---
import Layout from "../layouts/Layout.astro";
import HeroAbout from "../components/HeroAbout.astro";
---

<Layout title="Valp Portfolio - Web Developer">
	<main>
		<HeroAbout />
	</main>
</Layout>
