---
import Badge from "../components/Badge.astro";
---

<section class="w-full lg:w-[740px] mx-auto py-44">
    <h1 class="text-5xl font-bold flex flex-row gap-x-4 pb-4">
        Hi, I'm Valp
    </h1>	
    <h2 class="text-2xl opacity-70 text-wrap">
        I am a seasoned Software Engineer specialed in frontend development. 
        Throughout my career, I have honed my skills in JavaScript, particularly leveraging Angular and ReactJS.
        <Badge> +10 Year of Experience </Badge>
    </h2>
</section>