<a 
    target="_blank"
    {...Astro.props}
    rel="noopener noreferrer"
    class={`
        px-4
        py-2 
        flex 
        border 
        gap-x-2 
        items-center 
        rounded-full 
        justify-center 
        border-white/10 
    `} 
>
    <slot />
</a>